.container {
    max-width: 60em;
}
html {
    position: relative;
    min-height: 100%;
}
@media print {
    .navbar, .jangan-print {
        display: none;
    }
    html {
        transform: scale(1.0);
    }
}
.break {
    page-break-before: always;
}

#customFile .custom-file-control:lang(id)::after {
    content: "Pilih file...";
}
  
#customFile .custom-file-control:lang(id)::before {
    content: "Klik Di sini";
}